.Button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    font-family: inherit;
    transition: all .3s ease;
}

.base {
    font-size: 17px;
    font-weight: 600;
}

.inverted {
    background-color: #000;
    color: #fff;
}

.base-sm {
    font-size: 14px;
    font-weight: 500;
}
