.Counter {
    position: absolute;
    padding-top: 2px;
    font-size: 10px;
    bottom: 17px;
    left: 15px;
    background-color: var(--accent-color);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}