.Cart {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 97px;
    flex-grow: 1;
    padding: 40px;
    padding-top: 0;
}

@media (max-width: 750px) {
    .Cart {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}