.Item {
    padding: 20px;
    background-color: #fff;
    height: 407px;
    border-radius: 30px;
    box-shadow: 0 0 20px 20px rgb(227 227 227);
    text-align: center;
    transition: all .3s ease;
}

.Item:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px 20px rgb(214, 214, 214);
}

.descr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.img {
    width: 219px;
    margin-bottom: 50px;
}

.title {
    display: block;
    font-weight: 600;
    font-size: 17px;
    color: #1C1C27;
}

.price {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 17px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 17px;
}

.Item button:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 8px;
    padding: 0 7px;
}

.Item button:active {
    background-color: #000;
}