.Header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.icons {
    display: flex;
    gap: 30px;
}

.Header a {
    position: relative;
}