.ItemsList {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

h3 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 40px;
}

.title {
    color: #838383;
}

.titleCart {
    color: var(--font-color);
}

@media (max-width: 1024px) {
    .ItemsList {
        grid-template-columns: 1fr;
    }
}