.LangSwitcher {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 35px 0;
}

.LangSwitcher button {
    transition: color .3s ease;
}

.LangSwitcher button:hover {
    color: var(--accent-color);
}